save-exact = true
git-tag-version = false

# pnpm run settings
# https://pnpm.io/cli/run
shell-emulator = true

@visualon:registry = https://forgejo.visualon.de/api/packages/vt/npm

//forgejo.visualon.de/:always-auth = true
